<h2>Order Stock:</h2>

<form action="/stocks/:id/edit" method="get">

  <label for="instrument">Instrument:</label>
  <input type="text" name="instrument"></input>


  <input type='submit' value="Submit">

  
</form>
