<h2>Stock</h2>

<div>
<li><a href="/stocks/new">Add a Stock</a></li>
  <% @stock.each do |stock| %>
  <br><p>Instrument: <%= stock.instrument.brand %> <%= stock.instrument.type %></p>
  <p>Stock Profit: <%= stock.instrument.cost %></p><br>

  <% end %>

</div>

