<h1>CCTV</h1>
<h3>Store</h3>
<img src="../images/cctv.jpg" alt="Broken" height="300" width="500">
<h3>Car Park</h3>
<img src="../images/CCTVcarpark.gif" alt="Broken" height="300" width="500">
<a href="/"><h3>Back</h3></a>