<div>
  <h1>Inventory:</h1>
</div>
<p><h2>Instruments:</h2></p>
<p><strong><em>Total Types: </strong></em><%= @stock_count %>
<p><strong><em>Stock Variety: </strong></em><%= @stock_level %>
<br>
<p><strong><em>Total Instruments: </strong></em><%= @stock_quantity %>
<p><strong><em>Stock Levels: </strong></em><%= @instrument_stock_level %>
<p><h2> Accessories</h2></p>





<p>Total sales:
Total assets: cost x quantity