<div>
  <h1>Inventory:</h1>
</div>
<p><strong><em>Total Types: </strong></em><%= @stock_count %>
<p><strong><em>Total Stock: </strong></em><%= @stock_quantity %>
<p><strong><em>Stock Range: </strong></em><%= @stock_level %>
<p><strong><em>Instrument Levels: </strong></em><%= @instrument_stock_level %>

