<!DOCTYPE html>
<html>
<head>
  <title>Music Store Inventory</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul>
    <li><a href="/">Home</a> </li>
     <li><a href="/customers">Customers</a> </li>
     <li><a href="/instruments">Instruments</a> </li>
     <li><a href="/sales">Sales</a> </li>
     <li><a href="/instruments/new">New Instrument</a> </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>