<!DOCTYPE html>
<html>
<head>
  <title>Rockin' Ricks Music Store</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul class="topnav" id="myTopnav">
    <li><a href="/">Home</a></li>
     <li><a href="/instruments">Instruments</a></li>
     <li><a href="/accessories">Accessories</a></li>
     <li><a href="/store/cctv">Store CCTV</a></li>
      <li class="icon">
     </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>