<!DOCTYPE html>
<html>
<head>
  <title>Music Store Inventory</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul>
    <li><a href="/">Inventory</a></li>
     <li><a href="/instruments">Instruments</a></li>
     <li><a href="/accessories">Accessories</a></li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>