<h2>Sales</h2>

<div>
<li><a href="/sales/new">Add a Sale</a></li>
  <% @sales.each do |sale| %>
  <br><p>Instrument: <%= sale.instrument.brand %> <%= sale.instrument.type %></p>
  <p>Sale Profit: <%= sale.instrument.cost %></p><br>

  <% end %>

</div>