<h2>Add a sale</h2>

<form action="/sales" method="post">

  <label for="stock">Instrument sold:</label>
  <input type="text" name="stock"><br>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity"><br>

  <label for="cost">Earnings:</label>
  <input type="number" min="1" name="cost"><br>  

  <input type='submit' value="add">
</form>

<br>
<br>
<a href="/">Back</a>