<%= @sale %>
<!-- <p>
<a href="/sales/<%= @sale.id %>/edit">Edit</a> 
</p>
<form action="/sales/<%= @sale.id %>" method="post">

<input type="submit" value="Delete"/>
<input name="_method" type="hidden" value="Delete"/>
</form> -->