<h2>Instruments</h2>

<li><a href="/instruments/new">Add a new Instrument</a> </li>

<% @instrument.each do |instrument| %>
  <p><strong>Instrument Details:</strong></p>
  <p><%= instrument.brand %></p>
  <p><%= instrument.type %>, £<%= instrument.cost %></p>
  <p><strong>There are<%= instrument.quantity %> left in stock.</strong>
<% end %>
