<h2>Add Instrument</h2>

<form action="/instruments" method="post">

  <label for="type">Type:</label>
  <input type="text" name="type"><br>

  <label for="brand">Brand:</label>
  <input type="text" name="brand"><br>

  <label for="cost">Cost:</label>
  <input type="number" name="cost"><br>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity"><br> 

  <input type='submit' value="add">
</form>

<br>
<br>
<a href="/">Back</a>

