

<div class="content">

  <h2>Add Instrument</h2>

  <form action="/instruments" method="post">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" min="1"><br>

    <label for="instrument">Instrument</label>
    <select name="instrument_id">
      <% @instruments.each do |instrument| %>
      <option value="<%= instrument.id %>"> <%= instrument.brand %> - <%= instrument.type %> - £<%= instrument.cost %></option>    
      <% end %>
    </select>
    <br>
  
    <p>
      <input type='submit' value="Create Stock">
    </form>
  </p>
</div>

<br>
<br>
<a href="/">Back</a>



