<div class="content">

<h3>Add Instrument</h3>

<form action="/instruments" method="post">
<label for="quantity"><h3>Quantity:</h3></label>
<input type="number" name="quantity" min="1"><br>

<form action="/instruments" method="post">
<label for="brand"><h3>Brand:</h3></label>
<input type="text" name="brand"><br>  

<form action="/instruments" method="post">
<label for="type"><h3>Type:</h3></label>
<input type="text" name="type"><br>  

<form action="/instruments" method="post">
<label for="cost"><h3>Retail Price:</h3></label>
<input type="number" step="any" min="0" name="cost" min=""><br>  

<form action="/instruments" method="post">
<label for="cost_price"><h3>Cost Price:</h3></label>
<input type="number" step="any" min="0" name="cost_price"><br>  


<p><input type='submit' value="Create Stock"></p>
</div>
</form>

<a href="/"><h3>Back</h3></a>



