<div class="content">

  <h2>Add Instrument</h2>

  <form action="/instruments" method="post">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" min="1" max="30"><br>

    <form action="/instruments" method="post">
      <label for="brand">Brand:</label>
      <input type="text" name="brand"><br>  

      <form action="/instruments" method="post">
        <label for="type">Type:</label>
        <input type="text" name="type"><br>  

        <form action="/instruments" method="post">
        <label for="cost">Cost:</label>
          <input type="number" name="cost" min=""><br>  
    <br>

    <p><input type='submit' value="Create Stock"></p>
  </form>
</div>

<br>
<br>
<a href="/">Back</a>



