<h2>Customers</h2>

<li><a href="/customers/new">Add a new customer</a> </li>
<li><a href="/customers/:id/edit">Update existing customer</li>
<li><a href="/customers/:id">Delete a customer</li></a>

<% @customer.each do |customer| %>
  <p>Customer Details:</p>
  <p><%= customer.name %></p>
  <p><%= customer.address %>, £<%= customer.funds %></p>
<% end %>

