<h2>Customers</h2>

<li><a href="/customers/new">Add a new customer</a> </li>

<% @customer.each do |customer| %>
  <p>Customer Details:</p>
  <p><%= customer.name %></p>
  <p><%= customer.address %>, £<%= customer.funds %></p>
<% end %>

