<h2>Stock</h2>

<a href="/stocks/new">Add a new Instrument</a>

<% @sales.each do |sale| %>
<br>
<p>Instrument: <%= sales.instrument.brand %> <%= sales.instrument.type %></p>

<a href="/stocks/<%= instrument.id %>/edit">Edit Instrument</a>
<% end %>