<h2>Add a sale</h2>

<form action="/sales" method="post">

  <label for="stock">Stock:</label>
  <input type="text" name="stock"><br>

  <label for="quantity">Quantity:</label>
  <input type="text" name="quantity"><br>

  <input type='submit' value="add">
</form>

<br>
<br>
<a href="/">Back</a>